  <div class="row  pad-top">

            <div class="col-md-6 ">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title panel-title-adjust">
                                <a data-toggle="collapse" data-parent="#accordion" href="#TI">
                                    <i class="fa fa-plus"></i>Akun Prodi Teknik Informatika
                                </a>
                            </h4>
                        </div>
                        <div id="TI" class="panel-collapse collapse in">
                            <div class="panel-body">
								<div class="form-group">
								      <select multiple class="form-control">
								        <option><a href="data.html">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								      </select>
								</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title panel-title-adjust">
                                <a data-toggle="collapse" data-parent="#accordion" href="#SI">
                                    <i class="fa fa-plus"></i>Akun Prodi Sistem Informasi
                                </a>
                            </h4>
                        </div>
                        <div id="SI" class="panel-collapse collapse">
                            <div class="panel-body">
                               <div class="form-group">
								      <select multiple class="form-control">
								        <option><a href="data.html">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								      </select>
								</div>     
                            </div>
                        </div>
                    </div>
                    
                  	<div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title panel-title-adjust">
                                <a data-toggle="collapse" data-parent="#accordion" href="#TK">
                                    <i class="fa fa-plus"></i>Akun Prodi Teknik Komputer
                                </a>
                            </h4>
                        </div>
                        <div id="TK" class="panel-collapse collapse">
                            <div class="panel-body">
                               <div class="form-group">
								      <select multiple class="form-control">
								        <option><a href="data.html">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								      </select>
								</div>     
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title panel-title-adjust">
                                <a data-toggle="collapse" data-parent="#accordion" href="#MI">
                                    <i class="fa fa-plus"></i>Akun Prodi Management Informasi
                                </a>
                            </h4>
                        </div>
                        <div id="MI" class="panel-collapse collapse">
                            <div class="panel-body">
                               <div class="form-group">
								      <select multiple class="form-control">
								        <option><a href="data.html">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								      </select>
								</div>     
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title panel-title-adjust">
                                <a data-toggle="collapse" data-parent="#accordion" href="#KA">
                                    <i class="fa fa-plus"></i>Akun Prodi Komputer Akuntansi
                                </a>
                            </h4>
                        </div>
                        <div id="KA" class="panel-collapse collapse">
                            <div class="panel-body">
                               <div class="form-group">
								      <select multiple class="form-control">
								        <option><a href="data.html">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								        <option><a href="#">Ahmad Anwar</a></option>
								        <option><a href="#">Zuhair</a></option>
								        <option><a href="#">Abdullah</a></option>
								      </select>
								</div>     
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>