{% extends "base.html" %}
{% block content %}
<main>
  
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Unggah Dokumen</label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Lihat</label>
 
    
  <section id="content1">
    {% include "input_data_mhs.html"%}
  </section>  
  
  <section id="content2">
  
    <div class="row">
      <form action="{{ url_for('lihat') }}" method="post">
            <div class="col-md-4">
            <h4>Isi nim dan jurusan untuk melihat</h4>
            <hr>
            <div> <b>Nim</b> : <input name ="nim"  type="text" class="form-control" id="pwd"> </div>
            <br>
            <div>
            <b>Jurusan :</b>
            <select name="jurusan" class="form-control" id="sel1">
              <option >Teknik Informatika</option>
              <option >Sistem Informasi</option>
              <option >Teknik Komputer</option>
              <option >Management Informasi</option>
              <option >Komputer Akutansi</option>
            </select>
        </div>
            <br>
            <button type="submit" class="btn btn-primary">Lihat</button>
            </div>
      </form>
    </div>


  </section>
    


</main>

{% endblock %}

