{% extends "base.html" %}
{% block content %}
<main>
  
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Unggah Dokumen</label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Lihat</label>
 
    
  <section id="content1">
    {% include "input_data_mhs.html"%}
  </section>  
  
  <section id="content2">
  
    <div class="row">
            <div class="col-md-12">
            <h4>Data Skripsi Teknik Informatika</h4>
        
   
            </div>
    </div>


  </section>
    


</main>


{% endblock %}