{% extends "base.html" %}
{% block content %}
<main>
	<br>
   	<br>
	{% for doc in detil %}
	<h4>
	<div class="center"><p><h2>{{ doc.judul }}</h2></p></div>
	<br>
	<div class="center">Penulis</div>
	<div class="center"><p class="font_size">{{ doc.nama_mhs }}<p></div>
	<div class="center">{{ doc.nim }}</div>
	<div class="center"><p>Pembimbing : {{ doc.pembimbing }}</p></div>
	<hr>
	<div class="justify"><b>INTISARI: </b>{{ doc.intisari }}</div>
   	<br>
   	<br>
   	<div class="row">
   	<div class="col-sm-12" >
    	<table class="table table-hover">
		    <tbody>
		        <td class="col-sm-2">Kata kunci</td>
		        <td>:</td>
		        <td>{{ doc.kata_kunci}}</td>
		      </tr>
		      <tr>
		        <td class="col-sm-2">Prodi studi</td>
		        <td>:</td>
		        <td>{{ doc.prodi }}</td>
		      </tr>
		      <tr>
		        <td class="col-sm-2">Tahun </td>
		        <td>:</td>
		        <td>{{ doc.tahun }}</td>
		      </tr>
		      <tr>
		        <td class="col-sm-2">File</td>
		        <td>:</td>
		        <td>
		        	<a href="">{{ doc.file1 }}</br></a>
		        	<a href="">{{ doc.file2 }}</br></a>
		        	<a href="">{{ doc.file3 }}<br></a>
		        	<a href="">{{ doc.file4 }}</br></a>
		        	<a href="">{{ doc.file5 }}</br></a>
		        </td>
		      </tr>
		    </tbody>
		  </table>
		</div>
		</div>
	</h4>
   	{% endfor %}
</main>
{% endblock %}