{% extends "base.html" %}
{% block content %}
	{% for doc in detil %}
	<h4>
   	<div class="col-sm-12" >
    	<table class="table table-hover">
		    <tbody>
		      <tr>
		        <td class="col-sm-2">Judul</td>
		        <td>:</td>
		        <td>{{ doc.judul }}</td>
		      </tr>
		      <tr>
		        <td class="col-sm-2">Intisari</td>
		        <td>:</td>
		        <td>{{ doc.intisari }}</td>
		      </tr>
		      <tr>
		        <td class="col-sm-2">Tahun</td>
		        <td>:</td>
		        <td>{{ doc.tahun}}</td>
		      </tr>
		      <tr>
		        <td class="col-sm-2">Nama Penulis</td>
		        <td>:</td>
		        <td>{{ doc.nama_mhs }}</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
		</div>
	</h4>
   	{% endfor %}
{% endblock %}