{% extends "base.html" %}
{% block content %}
<main>
	{% include "form_cari.html" %}
	<hr>
	<h3>Hasil pencarian ~ " {{ info }} "</h3>
	{% for tampil in cari_judul %}
	<div class="row">
	<div class="col-md-12">
    	<h3><a href="{{ url_for('detil_doc', nim=tampil.nim, judul=tampil.judul) }}">  {{ tampil.judul }} </a></h3>
    	<p><div class="label label-default"> Prodi : {{ tampil.prodi }} </div>  <div class="label label-primary"> Tahun : {{ tampil.tahun }} </div>   <div class="label label-success"> Nama : {{ tampil.nama_mhs }} </div></p>
    	<hr>
 	</div>
 	</div>
   	{% endfor %}
</main>
{% endblock %}