{% extends "base.html" %}

{% block content %}
<div class="row">   
            <div class="col-md-8">
					<h2>Sign Admin</h2>
					<hr>

					<form action="{{ url_for('loginAdmin') }}" method="POST">
						{{ form.hidden_tag }}

						<div class="input-group">
                        	{{ form.username.label }}
                        	<br>
                        	{{ form.username }}

                        	{% for message in form.username.errors %}
								{{ message }}						
							{% endfor %}
                    	</div>
						<br>
						<div class="input-group">
                        	{{ form.password.label }}
                        	<br>
                        	{{ form.password }}

                        	{% for message in form.password.errors %}
								{{ message }}
							{% endfor %}
                    	</div>
						<br>
						{{ form.submit }}

					</form>
			</div>
</div>

{% endblock %}